<!-- Arquivo que faz a aplicação se conectar ao banco de dados -->

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <!-- Endereço do nosso banco de dados -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/cris_ballon_system
        </property>

        <!-- Usuário dono do banco -->
        <property name="hibernate.connection.username">mypguser</property>

        <!-- Senha do banco deste usuário -->
        <property name="hibernate.connection.password">postgres</property>
        
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        
        <!-- Modo de operação, ex: criar banco do zero, atualizar -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="com.example.features.client.Client"/>
        <property name="hibernate.hbm2ddl.auto">update</property> 
        <!-- Estratégia para atualizar o schema automaticamente -->

        <property name="hibernate.show_sql">true</property>
        <!-- Mostra os SQLs no console (requisito do projeto) -->

        <property name="hibernate.format_sql">true</property>
        <!-- Formata os SQLs para melhor legibilidade -->

       
        <mapping class="com.example.features.client.Client"/>
        <!-- <mapping class="com.example.features.order.Order"/> -->
    </session-factory>
</hibernate-configuration>
